*

!.gitignore

!*/
/Vendor/*
!/app/AppKernel.php
!/app/config/config.yml
!/app/config/parameters.yml
!/app/config/security.yml
!/app/Resources/views/base.html.twig


!/src/Rendonan/MiniBundle/Controller/*



!/src/Rendonan/MiniBundle/Resources/config/routing.yml
!/src/Rendonan/MiniBundle/Resources/views/Default/*
!/src/Rendonan/MiniBundle/Resources/views/Default/Pages/*
!/src/Rendonan/MiniBundle/Resources/views/Default/Includes/*
!/src/Rendonan/MiniBundle/Resources/views/Default/HTTPrequests/*


!/web/html5game/*
!/web/app.php
!/web/app_dev.php

!/app/rendonan_minigame.db
!/src/Rendonan/MiniBundle/Classes/*
!/src/Rendonan/MiniBundle/Entity/*
!/src/Rendonan/MiniBundle/Form/Model/*
!/src/Rendonan/MiniBundle/Form/Type/*
!/src/Rendonan/MiniBundle/Repository/*

!/src/Rendonan/MiniBundle/Scripts/*

!/web/css/*
!/web/images/*

!/GM_SOURCE/sourcecode/rendonan_release\.gmx/rendonan_release\.project\.gmx
!/GM_SOURCE/sourcecode/rendonan_release\.gmx/objects/*
!/GM_SOURCE/sourcecode/rendonan_release\.gmx/rooms/*
!/GM_SOURCE/sourcecode/rendonan_release\.gmx/scripts/*
!/GM_SOURCE/sourcecode/rendonan_release\.gmx/sprites/*
!/GM_SOURCE/sourcecode/rendonan_release\.gmx/sprites/images/*
!/GM_SOURCE/sourcecode/rendonan_release\.gmx/fonts/*
!/GM_SOURCE/sourcecode/rendonan_release\.gmx/background/*
!/GM_SOURCE/sourcecode/rendonan_release\.gmx/background/images/*