{% extends 'RendonanMiniBundle:Default:index.html.twig' %}

{% block content %}

    <!-- Run the game code -->
    <div>
        <iframe src="http://localhost:{{ port }}/rendonan_release/web/game/index.html" width="980" height="500" frameborder="0" scrolling="no" name="game">
            Your browser does not support iframes
        </iframe>
    </div>
{% endblock %}