{% extends 'RendonanMiniBundle:Default:index.html.twig' %}

{% block content %}
    NAME: {{ name }}
    <div class="smallscore">small scorelist</div>
    <div class="list">
        PLAY MINIGAME
        <hr/>
        <a href="game">Click here to play the minigame and end up in the highscores.</a>
    </div>
    <div class="list">
        VIEW HIGHSCORES
        <hr/>
        <a href="highscore">Click here to view the player highscores.</a>
    </div>
    <div class="list">
        REGISTER
        <hr/>
        <a href="register">Click here to register an account.</a>
    </div>
{% endblock %}