{% extends 'RendonanMiniBundle:Default:index.html.twig' %}

{% block content %}
    <div class="smallscore">
        <table class="mini_highscore">
            <tr class="top">
                <td class="rank">
                    Rank
                </td>
                <td class="username">
                    Username
                </td>
                <td class="score">
                    Score
                </td>
            </tr>

            {% set rank = 1 %}
            {% for user in users %}
                <tr class="bottom">
                    <td class="rank">{{ rank }}</td>
                    <td>{{ user.user }}</td>
                    <td>{{ user.score }}</td>
                </tr>
                {% set rank = rank+1 %}
            {% endfor %}
        </table>
    </div>
    <div class="list">
        PLAY MINIGAME
        <hr/>
        <a href="game">Click here to play the minigame and end up in the highscores.</a>
    </div>
    <div class="list">
        VIEW HIGHSCORES
        <hr/>
        <a href="highscore">Click here to view the player highscores.</a>
    </div>
    <div class="list">
        REGISTER
        <hr/>
        <a href="register">Click here to register an account.</a>
    </div>
{% endblock %}