{% extends 'RendonanMiniBundle:Default:index.html.twig' %}

{% block content %}
    <div class="centerPanel">
        <h2>Registration Successful!</h2>
        <p>Hello , {{ name }}<br/>
            You can now log in and play the game.
        </p>
        <p>
            <a href="main">Click here to proceed to the main page!</a>
        </p>
        <hr/>
        <p>


        </p>
    </div>
{% endblock %}