{% extends 'RendonanMiniBundle:Default:index.html.twig' %}

{% block content %}
    <div class="centerPanel">
        <h2>{{ title }}</h2>
        <p>
            {{ message }}
        </p>
        <p>
            <a href="main">Click here to proceed to the main page!</a>
        </p>
        <hr/>
        <p>


        </p>
    </div>
{% endblock %}