body
{
    padding:0px;
    margin:0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background: fixed center center url("images/background2.jpg") #FFF;
    background-size: cover;
    color: #FFF;
    font-family: Tahoma, Geneva, sans-serif;
    text-decoration: none;
    font-family: Verdana;
    text-shadow: 2px 2px 2px #000;
    font-size:12px;
}

a
{
    color: #FFCF93;
    text-decoration: none;
    text-shadow: 2px 1px 1px #000;
}

canvas {
    -webkit-interpolation-mode: nearest-neighbor;
}

#wrapper
{
    margin:auto;
}

#toolbar
{
    padding-top: 1em;
    padding-right: 80px;
    text-align: right;
    background: #1A1A1A;
    margin: 0px;
    height: 3em;
    width: auto;
    min-width:1000px;
    box-shadow: 0px 3px 2px #000;
}
.title
{
    font-family: 'FlemishScript BT';
    font-size: 20px;
    font-weight: bold;
}
.rightFloat
{
    display: inline-block;
    text-align: right;
    width:550px;
    vertical-align: top;
    border:0px;
    margin:0px;
    padding:0px;
}
.leftFloat
{
    display: inline-block;
    text-align: left;
    /* width: 1%; */
    background: #000;
    vertical-align: top;
    border: 0px;
    margin: 0px;
    padding: 0px;
    height: auto;
    margin: -1em 0px;
    padding: 1em;
    height: 2em;
    margin-left: 100px;
    float: left;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.16);
}

/*Highscore Table Styling*/
.searchbar
{
    width:940px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.44);
    padding: 1em 20px;
    height:1em;
    background: #151515;
    vertical-align: middle;
    color:#FFA400;
    font-weight:bold;
}
.searchbar .rightFloat
{
    float:right;
    margin-top: -19px;
    width:auto;
}
.searchbar .searchbox
{
    width: 500px;
    -webkit-border-radius: 6px;
    background: #303035;
    color: #C7C6C4;
    border-color: rgba(74, 74, 74, 0.63);
    text-align: center;
    padding: 0px 22px;
    margin-right: 10px;
}
.searchbar .submit
{
    -webkit-border-radius: 8px;
    background: #FFA400;
    color: #151515;
    font-weight: bold;
    box-shadow: inset -2px -3px 10px #FFF298;
}
table.highscore
{
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.44);
    background-color: rgba(17, 17, 17, 0.56);
    border: 1px groove rgba(209, 209, 209, 0.44);

    width:980px;
}
table.highscore td
{
    padding:15px;
}
table.highscore tr.top
{
    background: #151515;
    color: #FFA400;
    font-size: 1.1em;
    font-weight: bold;
    vertical-align: middle;
}
table.highscore tr:hover.bottom
{
    background: #343D47;
}
table.highscore td
{
    box-shadow: inset 0px 1px 1px #545454;
}
table.highscore td.rank
{
    text-align: right;
    box-shadow: inset -2px 0px 5px #181818;
}
/*-----------------------*/


table.mini_highscore
{
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.44);
    background-color: rgba(17, 17, 17, 0.56);
    border: 1px groove rgba(209, 209, 209, 0.44);

    width:300px;
}
table.mini_highscore td
{
    padding:5px;
}
table.mini_highscore tr.top
{
    background: #151515;
    color: #FFA400;
    font-size: 1em;
    font-weight: bold;
    vertical-align: middle;
}
table.mini_highscore tr:hover.bottom
{
    background: #343D47;
}
table.mini_highscore td
{
    box-shadow: inset 0px 1px 1px #545454;
    text-align: center;
}
table.mini_highscore td.rank
{
    width:20px;
    box-shadow: inset -2px 0px 5px #181818;
}
table.mini_highscore td.username
{
    width:90px;
    box-shadow: inset -2px 0px 5px #181818;
}
table.mini_highscore td.score
{
    width:60px;
    box-shadow: inset -2px 0px 5px #181818;
}
/*-----------------------*/
#banner
{
    margin: 0px 0px;
    height: 525px;
}

#header
{
    margin:-600px auto 20px;
    height:390px;
    width:1224px;
    background-image:url("images/Header.png");
}

#containerBorderTop
{
    position: absolute;
    margin-top: -20px;
    background: url("http://www.rendonan.com/wp-content/themes/adventure/images/bgxMainBorder.png") repeat-x;
    height: 20px;
    width: 1024px;
}
#container
{
    margin:auto;
    width:1024px;
    background: rgba(67, 81, 94, 0.94);
}

#content
{
    background-size: cover;
    min-height: 400px;
    width: auto;
    padding: 50px 20px;
    overflow: auto;
    box-shadow: 0px 0px 10px #000;
    margin-top: -45px;
    margin-bottom: 95px;
    color: #8A8A8A;
    text-shadow: 1px 1px 1px #000;
}

#content .list
{
    float: left;
    height: 3.5em;
    width: 580px;
    margin: 15px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.44);
    background-color: rgba(17, 17, 17, 0.56);
    border: 1px groove rgba(209, 209, 209, 0.44);
    padding: 15px;
}

#content .smallscore
{
    float:right;
    margin:15px;
    /*
    margin-right:20px;
    height:400px;
    width:250px;
    margin:20px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.44);
    background-color: rgba(17, 17, 17, 0.56);
    border: 1px groove rgba(209, 209, 209, 0.44);
    padding: 15px;
    */
}
#content .centerPanel
{
    width:800px;
    padding:20px;
    margin:auto;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.44);
    background-color: rgba(17, 17, 17, 0.56);
    border: 1px groove rgba(209, 209, 209, 0.44);
    padding: 15px;
}

#footer
{
    background: rgba(255, 255, 255, 0.33);
    width: auto;
    height: 3em;
    box-shadow: 0px 0px 20px #000;
    text-align: center;
    padding-top: 1.5em;
}