{% extends '::base.html.twig' %}

{% block body %}

    {% block toolbar %}
        <div id="toolbar">

            <div class="leftFloat">
                <a href="{{ path('rendonan_mini_homepage') }}">
                    <span class="title">Rendonan</span>
                </a>
            </div>
            <div class="rightFloat">
                <!-- TOOLBAR: DISPLAY LOGIN FORM / USER DETAILS -->
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    Logged in as [USERNAME] | Score: xxx.xxx.xxx
                {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
                    {% include 'RendonanMiniBundle:Default:Includes/login.html.twig' %}
                {% endif %}
            </div>
        </div>
    {% endblock %}
    <div id="banner"></div>

    <div id="wrapper">

        <div id="header">

        </div>

        <div id="container">
            <div id="containerBorderTop"></div>
            <div id="content">

                {% block content %}

                {% endblock %}
            </div>
        </div>

        <div id="footer">
            &copy; Teun Kokke
        </div>
    </div>


{% endblock %}

