{% if not online %}
    <form action="{{ path('rendonan_mini_login') }}" method="post">
        <label for="username">username:</label>
        <input type="text" id="username" name="_username" value=""/>

        <label for="password">password:</label>
        <input type="password" name="_password"/>

        <button type="submit"/>Log-in!</button>
    </form>
{% else %}
    Logged in as: {{ name }} | <a href="{{ path('rendonan_mini_logout') }}">LOGOUT</a>
{% endif %}